**/.DS_Store
**/xcuserdata
**/*.sdf
**/*.opensdf
build

delivery/CloudBuilder/Android/libs
delivery/CloudBuilder/Android/prebuilt/arm64-v8a
delivery/CloudBuilder/Android/prebuilt/armeabi
delivery/CloudBuilder/Android/prebuilt/armeabi-v7a
delivery/CloudBuilder/Android/prebuilt/x86
delivery/CloudBuilder/Android/prebuilt/x86_64
delivery/CloudBuilder/Headers
delivery/CloudBuilder/iOS
delivery/CloudBuilder/MacOSX
delivery/CloudBuilder/Windows
delivery/curl
delivery/openssl
delivery/pthread
